// website.scss

/// Imports

@import url('https://fonts.googleapis.com/css?family=Lato');

/// Variables

$body-background-color: rgb(238, 238, 238);
$body-font-stack: 'Lato', sans-serif;

/// Global

body {
  font-family: $body-font-stack;
  background: $body-background-color;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/// Layout

.banner,
.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  height: 70vh;
  text-align: center;

  > h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 1rem;
    // &:first-of-type {
    //   margin: 0;
    //   font-size: 2rem;
    //   letter-spacing: 1rem;
    // }
  }

  > h2 {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    opacity: 0.7;
  }

  @media (min-width: 800px) {
    > h1 {
      font-size: 3rem;
    }

    > h2 {
      font-size: 1.25rem;
    }
  }
}

// .root {
//   //
// }
